<%- include partials/header.ejs %>

<div class=" panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><%= title %></h1>
  </div>
 <p class="panel-body">Intorduced four family members Kiran,Madhu,Subha,Sai.</p>
</div>

<%- include partials/footer.ejs %>
