<%- include partials/header.ejs %>

<div class=" panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Kiran works in bell as computer technician.</p>
</div>

<%- include partials/footer.ejs %>