<%- include partials/header.ejs %>

<div class=" panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Subha is sister of gowtham. She is studying agricultural enginnering at university of toronto.</p>
</div>

<%- include partials/footer.ejs %>